# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/hello-elementor/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# Languages except out of WP repo and Loco
web/app/languages/*
!web/app/languages/loco/
!web/app/languages/plugins/
web/app/languages/plugins/*
!web/app/languages/plugins/elementor-pro-*
*.mo.php

# Plugins tracked
#!web/app/plugins/plugin-name/

# WordPress
web/wp
web/.htaccess

# WP-CLI
*.sql
*.sql.gz

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml
